graph {
	fill-color: black;
}
	
node {
	stroke-mode: plain;
	stroke-color: white;
	stroke-width: 1px;
	shadow-mode: gradient-radial;
	shadow-offset: 0px;
	shape: circle;
}

node.large {
	size: 15px;
	shadow-width: 50px;
	text-mode: normal;
}

node.medium {
	size: 6px;
	shadow-width: 25px;
	text-mode: hidden;
}

node.small {
	size: 3px;
	shadow-width: 10px;
	text-mode: hidden;
}

node.bias_node {
	fill-color: purple;
	shadow-color: purple, rgba(0, 0, 0, 0);
}

node.input_node {
	fill-color: green;
	shadow-color: green, rgba(0, 0, 0, 0);
}

node.output_node {
	fill-color: red;
	shadow-color: red, rgba(0, 0, 0, 0);
}

node.hidden_node {
	fill-color: yellow;
	shadow-color: yellow, rgba(0, 0, 0, 0);
}

edge {
	fill-color: white;
	shape: angle;
	arrow-shape: none;
	text-color: white;
}

edge.large {
	text-mode: normal;
	size: 5px;
}

edge.medium {
	text-mode: hidden;
	size: 3px;
}

edge.small {
	text-mode: hidden;
	size: 1px;
}

sprite.generation_label {
	text-color: white;
	text-background-mode: rounded-box;
	text-background-color: purple;
	text-padding: 2px;
}

sprite.generation_marker {
	stroke-mode: plain;
	stroke-color: white;
	stroke-width: 1px;
	fill-mode: none;
	z-index: -1; /*by setting the z index to -1 we ensure that the markers are rendered behind everything else*/
}