graph {
	fill-color: black;
}
	
node {
	shape: circle;
	fill-color: white;
	text-mode: hidden;
}

node.large {
	size: 15px;
}

node.medium {
	size: 6px;
}

node.small {
	size: 3px;
}

edge {
	fill-color: white;
	text-color: white;
	arrow-shape: none;
	size: 0px;
}

edge.large {
	text-mode: normal;
}

edge.medium {
	text-mode: hidden;
}

edge.small {
	text-mode: hidden;
}

sprite.generation_label {
	text-color: white;
	text-background-mode: rounded-box;
	text-background-color: purple;
	text-padding: 2px;
}

sprite.generation_marker {
	stroke-mode: plain;
	stroke-color: white;
	stroke-width: 1px;
	fill-mode: none;
	z-index: -1; /*by setting the z index to -1 we ensure that the markers are rendered behind everything else*/
}