graph {
	fill-color: black;
}
	
node {
	size: 3px;
	shape: circle;
}	

node.bias_node {
	fill-color: purple;
}

node.input_node {
	fill-color: green;
}

node.output_node {
	fill-color: red;
}

node.hidden_node {
	fill-color: yellow;
}

edge {
	fill-color: white;
	text-mode: hidden;
	arrow-shape: none;
	size: 0px;
}

sprite.generation_label {
	text-color: white;
	text-background-mode: rounded-box;
	text-background-color: purple;
	text-padding: 2px;
}

sprite.generation_marker {
	stroke-mode: plain;
	stroke-color: white;
	stroke-width: 1px;
	fill-mode: none;
	z-index: -1; /*by setting the z index to -1 we ensure that the markers are rendered behind everything else*/
}